@media(min-width:0px) and (max-width: 768px) {
    .App {
        width     : 96%;
        margin    : auto;
        overflow-y: hidden;
    }
}

@media (min-width: 769px) {
    .App {
        width : 70%;
        margin: auto;
    }
}

#root>div>div:nth-child(n)>div>div {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

* {
    font-family: 'Roboto', sans-serif !important;
}

.card-title {
    font-size  : 21px;
    font-weight: 350 !important;
    color      : #434343;
}

.card-img-top {
    height : 100%;
    padding: 10px;
    height : 300px;
}

.header {
    position  : fixed;
    width     : 100%;
    height    : 60px;
    background: linear-gradient(to bottom, #68caeb 1%, #00beff 100%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
    z-index   : 8;
    top       : 0;
    left      : 0;
}

.logo {
    height    : 75px;
    margin-top: -9px;
    width     : 88px;
}

.activeCard {
    display                    : inline-block;
    vertical-align             : middle;
    -webkit-transform          : perspective(1px) translateZ(0);
    transform                  : perspective(1px) translateZ(0);
    box-shadow                 : 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: .3s;
    transition-duration        : .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property        : box-shadow, transform
}

.activeCard {
    box-shadow       : 0 10px 10px -10px rgba(0, 0, 0, .5);
    -webkit-transform: scale(1.03);
    transform        : scale(1.03)
}

.me>label {
    cursor     : pointer;
    position   : fixed;
    bottom     : 3px;
    color      : #03a9f4;
    right      : 10px;
    font-size  : 12px;
    font-weight: 600;
}

.badge {
    width           : 3%;
    position        : absolute;
    right           : 8px;
    top             : 8px;
    background-color: #03a9f4 !important;
}

.main {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap      : 10px;
    grid-row-gap         : 10px;
}

.box {
    /* background : #00bbff !important; */
    background : linear-gradient(to bottom, #68caeb 1%, #00beff 100%) !important;
    color      : white;
    font-size  : 16px;
    text-align : center;
    font-weight: 400;
    cursor     : pointer;
}

.ctitle {
    color     : white;
    text-align: center;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}

/* switch css */
.switch {
    display: flex;
    height : 36px;
    width  : 68px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #FFF;
    border          : 1px solid #000;
    bottom          : 0;
    cursor          : pointer;
    left            : 0;
    position        : absolute;
    right           : 0;
    top             : 0;
    transition      : .4s;
}

.slider:before {
    background-color: #333;
    border          : 1px solid #000;
    bottom          : 3px;
    content         : "";
    height          : 17px;
    left            : 4px;
    position        : absolute;
    transition      : .4s;
    width           : 17px;
    z-index         : 421;
}

input:checked+.slider {
    background-color: #101211;
}

input:checked+.slider:before {
    transform       : translateX(24px);
    border-color    : #CFCFCF;
    background-color: #EFEFEF;
}

.slider.round {
    border-radius: 34px;
    height       : 24px;
    width        : 52px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-moon,
.toggle-sun {
    text-align: center;
    position  : relative;
    z-index   : 420;
    height    : 15px;
    width     : 25px;
}