.App {
    width : 70%;
    margin: auto;
}

#root>div>div:nth-child(n)>div>div {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

* {
    font-family: 'Roboto', sans-serif !important;
}

.card-title {
    font-size  : 21px;
    font-weight: 350 !important;
    color      : dimgrey;
}

.card-img-top {
    height : 100%;
    padding: 10px;
    height : 300px;
}

.header {
    position  : fixed;
    width     : 100%;
    height    : 60px;
    background: linear-gradient(to bottom, #68caeb 1%, #00beff 100%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
    z-index   : 8;
    top       : 0;
    left      : 0;
}

.logo {
    height    : 75px;
    margin-top: -9px;
    width     : 88px;
}

.activeCard {
    display                    : inline-block;
    vertical-align             : middle;
    -webkit-transform          : perspective(1px) translateZ(0);
    transform                  : perspective(1px) translateZ(0);
    box-shadow                 : 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: .3s;
    transition-duration        : .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property        : box-shadow, transform
}

.activeCard {
    box-shadow       : 0 10px 10px -10px rgba(0, 0, 0, .5);
    -webkit-transform: scale(1.03);
    transform        : scale(1.03)
}

.me>label {
    cursor     : pointer;
    position   : fixed;
    bottom     : 3px;
    color      : #03a9f4;
    right      : 10px;
    font-size  : 12px;
    font-weight: 600;
}

.badge {
    width   : 2%;
    position: absolute;
    right   : 8px;
    top     : 8px;
    background-color: #03a9f4 !important;
}

.main {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap      : 10px;
    grid-row-gap         : 10px;
}

.box {
    /* background : #00bbff !important; */
    background : linear-gradient(to bottom, #68caeb 1%, #00beff 100%) !important;
    color      : white;
    font-size  : 16px;
    text-align : center;
    font-weight: 400;
}

.ctitle {
    color     : white;
    text-align: center;
}